body {font-family: Arial;}

/* Style the tab */
#tab0 { display: none; }
#tab1 { display: none; }                /* hide radio buttons */
#tab2 { display: none; }
#tab3 { display: none; }
#tab4 { display: none; }
#tab5 { display: none; }
#tab6 { display: none; }
#tab7 { display: none; }
#tab8 { display: none; }
#tab9 { display: none; }
#tab10 { display: none; }
input ~ .tab { display: none }          /* hide contents */
/* show contents only for selected tab */
#tab0:checked ~ .tab.content0,
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5,
#tab6:checked ~ .tab.content6,
#tab7:checked ~ .tab.content7,
#tab8:checked ~ .tab.content8,
#tab9:checked ~ .tab.content9,
#tab10:checked ~ .tab.content10 { display: block; }

input + label {             /* box with rounded corner */
  border: 1px solid #999;
  background: #EEE;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
}
input:checked + label {     /* white background for selected tab */
  background: #FFF;
  padding: 5px 10px 6px 10px;
  border-bottom: 1px solid transparent;
}
input ~ .tab {          /* grey line between tab and contents */
  margin-top: 6px;
  border-top: 1px solid #999;
  padding: 12px;
}
